* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b0b0b;
    color: #e8e6e3;
    font-family: 'Cinzel', serif;
}

/* HEADER */
header {
    padding: 20px;
    text-align: center;
    background: black;
    border-bottom: 1px solid crimson;
}

header h1 {
    font-family: 'UnifrakturCook', cursive;
    color: crimson;
}

/* SECTION */
.section {
    padding: 40px;
}

.section h2 {
    color: crimson;
    margin-bottom: 20px;
}

/* ACCORDION */
.accordion {
    margin-bottom: 15px;
    border: 1px solid #222;
}

/* CLICKABLE HEADER */
.accordion-header {
    padding: 15px;
    cursor: pointer;
    background: #111;
    transition: 0.3s;
}

.accordion-header:hover {
    background: crimson;
    color: black;
}

/* HIDDEN CONTENT */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    background: #0f0f0f;
    transition: max-height 0.4s ease;
    padding: 0 15px;
}

.accordion-content p,
.accordion-content ul {
    margin: 15px 0;
}

/* SMOOTH OPEN EFFECT */
.accordion-content ul {
    padding-left: 20px;
}
